<header>
    <nav class="menu-header">
        <div>My Face</div>
        <a href="/posts">Home</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a class="new-post-link" href="/posts/create"> + New Post</a>
    </nav>
</header>