<header class="mobile-menu" id="mobile-menu">
    <div class="menu-close-button-container">
        <button type="button" class="mobile-menu-close" id="mobile-menu-close">&#10006</button>
    </div>
    <div class="mobile-menu-logo">My Face</div>
    <nav class="mobile-menu-nav">
        <a href="/posts">Home</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a class="new-post-link" href="/posts/create"> + New Post</a>
    </nav>
</header>
