<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create Post</h1>
<form method="post" action="/posts/create">
    <label for="postMessage">
        Message:
        <input type="text" name="message" id="postMessage" required/>
    </label>
    <label for="postImage" >
        ImageUrl:
        <input type="text" name="imageUrl" id="postImage" required/>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>
