/* Add your styles here. */
@media (min-width: 320px) {
    .menu-header {
        background-color: #151820;
        a {
            color: #DCDCDC;
        }
        a:hover {
            color: #2985FF;
        } 
    }

    ul {
        list-style-type: none;
    }
    body {
        max-width: 1180px;
        background-color: #252a38;
        margin: 0 auto;

    }
    h1 {
        color: #DCDCDC;
    }

    .user-name {
        color: #DCDCDC;
        font-size: 18;
        display: flex;
        text-align: center;
    }

    .profile-container {
        display: flex;
        color: #DCDCDC;
        align-items: center;
    }
    
    .profile-image {
        margin-right: 16px;
        border-radius: 50%;
    }

    .likebuttons-container {
        display: flex;
        button {
            border: 0;
            background-color: transparent;
            color: #DCDCDC;
        }
    }  

    .post-container {
        justify-content: space-between;
        background-color: #151820;
        color: #DCDCDC;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .post-date {
        font-size: 8;
        color: grey;
        text-decoration-color: #DCDCDC;
    }

    .post-image {
        height: 150;
        width: 100%;
    }

    .message-container {
        padding: 16px;
    }

    /* user details styles */
    .user-profile-container {
        height: 250;
        background-size: cover;
        position: relative;
        margin-bottom: 80px;
    }

    .user-details-container {
        position: absolute;
        bottom: -50px;
        display: flex;
        padding-left: 16px;
        background-color: rgba(37, 42, 56, 0.56);
        /* opacity: 0.56; */
        width: 100%;
    }

    .user-details-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 4px #DCDCDC solid;
        opacity: 1;
    }

    .user-name-container {
        padding-left: 24px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #DCDCDC;
        font-weight: 600;
        font-size: 14px;

        h1 {
            font-size: 24px;
            font-weight: 400;
        }

        .user-email {
            font-weight: 400;
        }
    }

    .user-posts-container {
        padding: 0 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #DCDCDC;

        ul {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 16px;
        }

        li {
            flex: 1 1 calc(33.33% - 16px);
            min-width: 240px;
            max-width: 340px;
        }
    }

}